html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Proxima Nova Rg, Helvetica, Arial, sans-serif;
}

@media (min-width: 576px) {
    .footer-xs-only {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
    color: #7d0ded;
    text-decoration: none;
}

a:hover {
    color: #5f14aa;
    text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar .navbar-brand {
  font-weight: 800;
  font-style: normal;
  letter-spacing: -1px;
}

.logo-img {
    width: 5%;
}

.logo-img-list {
    width: 20%;
}

.CloneTwitterTitle {
  font-weight: 800;
  font-style: normal;
  letter-spacing: -1px;
}

.SubmitButton {
  background-color: #7d0ded;
  color: white;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

.SubmitButton:hover {
  background-color: #411b67;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.CancelButton {
  background-color: #242325;
  color: white;
}

.BackgroundColorObjects {
    background-color: #dfc6f8;
}

.HomeProfile {
    bottom: 3%;
    border-radius: 25px;
    padding: 20px;
    position: absolute;
    bottom: 3%;
}

.NameFont{
    font-weight: bold;
}

.UserNameFont {
    color: #536471;
    font-size: x-small;
}

.HomeUserBirthday {
    color: #536471;
    font-size: xx-small;
    text-align: left;
}

.HomeUserRegistrationDate {
    color: #536471;
    font-size: xx-small;
    text-align: left;
}

.QuickList {
    list-style-type: none;
    padding-left: 0;
    font-size: large;
    text-align: left;
}

.QuickListElement {
    padding-top: 10%;
}

.QuickListElement:hover {
    font-weight: bold;
    color: #411b67;
}

.PostButton {
    background-color: #7d0ded;
    color: white;
    transition-duration: 0.5s;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 800;
    padding: 5%;
}

.PostButton:hover {
    background-color: #411b67;
    color: white;
}

.Feed {
    border-left: 2px solid #536471;
    border-right: 2px solid #536471;
    height: 10px;
    padding: .5rem;
}

.UnsignedFooter {
    background-color: #5f14aa;
    color: white;
}

.FooterSignInButton {
    color: white;
    transition-duration: 0.5s;
    display: inline-block;
    border: 1px solid white;
}

.FooterSignInButton:hover{
    background-color: #dfc6f8;
}

.FooterSignUpButton {
    color: black;
    background-color: white;
}

.FooterSignUpButton:hover {
    color: black;
    background-color: #D7DBDC;
}

.AlreadySignedUp{
    text-align: center;
    position: absolute;
    bottom: 3%;
}
