html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: Proxima Nova Rg,Helvetica,Arial,sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-style: normal;
    letter-spacing: -1px;
}

.logo-img{
    width: 5%;
}
