@model HomeModel

<div class="row">
    <div class="col-md-6 col-sm-12">
        <form method="post" asp-page-handler="UserTweet">
            <div class="form-group row">
                <textarea asp-for="Post.TextContent" class="form-control PostTextArea" id="postTextContent" rows="3" placeholder="What's happening?"></textarea>
                <span asp-validation-for="Post.TextContent" class="error"></span>
            </div>

            <input type="submit" class="btn rounded-pill PostButtonInsidePost" value="Tweet" />
        </form>
    </div>
    <div class="col-md-6 col-sm-12">
        <form method="post" asp-page-handler="UserTweetUisngOpenAI">
            <div class="form-group row">
                <textarea asp-for="Post.TextContent" class="form-control PostTextArea" id="postTextContent" rows="3" placeholder="What's happening? Try AI, just write tweet idea"></textarea>
                <span asp-validation-for="Post.TextContent" class="error"></span>
            </div>

            <input type="submit" class="btn rounded-pill PostButtonInsidePost" value="Tweet with AI &#x2728;" />
        </form>
    </div>
</div>
