@page
@model Suvorov.LNU.TwitterClone.Web.Pages.AboutModel
@{
    ViewData["Title"] = "Users";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="text-center"><b>About Me</b></h2>
            <hr />

            <p>First Name: Oleh</p>
            <p>Last Name: Suvorov</p>
            <p>Project: Twitter Clone</p>
            <p>
                Telegram:
                <a href="https://t.me/suph0mi3">@@suph0mi3</a>
            </p>
            <p>Email: olegsuv.ukr@gmail.com</p>
            <p>
                Git Repository:
                <a href="https://github.com/plxgwalker/Suvorov.LNU.Twitter-Clone">@@my_repo</a>
            </p>
        </div>
    </div>
</div>