@page
@model CreatePostModel
@{
    ViewData["Title"] = "Create post";
}

<br />
<h2 class="text-info">Create new post</h2>
<br />

<div class="border container" style="padding: 30px;">
    <form method="post">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Post.TextContent">Text content</label>
            </div>
            <div class="col-6">
                <input asp-for="Post.TextContent" class="form-control" />
                @Html.ValidationMessage("Post.TextContent")
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Post.User">Username</label>
            </div>
            <div class="col-6">
                <input asp-for="Post.User" class="form-control" />
                @Html.ValidationMessage("Post.User")
            </div>
        </div>

        <div class="col-3">
            <input type="submit" class="w-100 form-control" />
        </div>
    </form>
</div>