@page
@model Suvorov.LNU.TwitterClone.Web.Pages.PostService
@{
    ViewData["Title"] = "Create Post";
}

<div id="OuterContainer">
            @inject IHttpContextAccessor HttpContextAccessor

            @if (HttpContextAccessor?.HttpContext?.Session.GetString("userEmailAddress") == null)
            {
                Response.Redirect("RegisterUser");
            }

            else
            {
                <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                    <form method="post">
                        <div class="form-group row">
                            <textarea asp-for="Post.TextContent" class="form-control" id="postTextContent" rows="3" cols="50" placeholder="What's happening? Try OpenAI by using ' / ' before your prompt."></textarea>
                            <span asp-validation-for="Post.TextContent" class="error"></span>
                        </div>

                        <input type="submit" class="btn btn-block rounded-pill SubmitButton form-control" asp-page-handler="Submit" />
                    </form>
                </div>
            }
</div>  