@page "{userId?}"

@model UserProfileModel
@{
    ViewData["Title"] = "User profile";
}


@inject IHttpContextAccessor HttpContextAccessor

    @if (HttpContextAccessor?.HttpContext?.Session.GetString("userEmailAddress") == null)
    {
        Response.Redirect("RegisterUser");
    }
    else
    {
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-none d-sm-block">
                @await Html.PartialAsync("_UserProfileLeftNavbarPartial", Model)
            </div>

            <div class="col-md-6 col-sm-12" style="height: 100vh;">
                @await Html.PartialAsync("_UserProfileInfo", Model)
                <hr />
                @await Html.PartialAsync("_UserProfilePostsPartial", Model)
            </div>

            <div class="col-md-3 d-none d-sm-block">
                <div class="form-group row">
                    <div class="col-12">
                        @await Html.PartialAsync("_UserProfileTagsRatingPartial", Model)
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-xs-only">
            Test footer
        </footer>
    </div>
    }
